<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.store.mapper.CartMapper">
   <select id="findCartsByCustomerIdx" resultMap="CartResultMap">
        SELECT * FROM cart WHERE customer_idx = #{customerIdx}
    </select>

    <resultMap id="CartResultMap" type="com.store.dto.CartDTO">
        <id property="cartIdx" column="cart_idx"/>
        <result property="customerIdx" column="customer_idx"/>
        <collection property="cartItems" ofType="com.store.dto.CartDTO.CartItemDTO" column="cart_idx" select="findCartItemsByCartIdx"/>
    </resultMap>

    <select id="findCartItemsByCartIdx" resultType="com.store.dto.CartItemDTO">
        SELECT * FROM cart_item WHERE cart_idx = #{cartIdx}
    </select>

   
</mapper>


