<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.mapper.CheckOutMapper">

	<!-- 장바구니에 담긴 물건을 조회하는 쿼리 -->
	<select id="findCart" parameterType="int"  resultType="CheckOutDTO">
		SELECT 
            cart.customer_idx,
            sku.sku_name,
            sku.sku_cost,
            cart.sku_value,
            (sku.sku_cost * cart.sku_value) AS sum_cost,
            (SELECT SUM(sku.sku_cost * cart.sku_value) 
             FROM cart 
             JOIN sku ON cart.sku_idx = sku.sku_idx 
             WHERE cart.customer_idx = #{customerIdx}) AS total_sum_cost
        FROM 
            cart
        JOIN 
            sku ON cart.sku_idx = sku.sku_idx
        WHERE 
            cart.customer_idx = #{customerIdx}
	</select>
	
	<!-- 결제하는 사람의 정보를 가져오는 쿼리 -->
	<select id="findCustomer" parameterType="int" resultType="CheckOutDTO">
			 
     SELECT 
            customer_name,
            customer_email,
            customer_phone,
            customer_add,
            customer_add_more
        FROM 
            cart
        JOIN 
            customer ON cart.customer_idx = customer.customer_idx
        WHERE 
            customer.customer_idx = #{customerIdx}
	</select>


</mapper>


