<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.store.mapper.QnaMapper">
   	<resultMap id="S2C" type="QnaDTO">
  		<id		property="qnaIdx" column="qna_idx"/>
  		<result property="faqtypeIdx"   column="faqtype_idx"/>
  		<result property="customerIdx"   column="customer_idx"/>
  		<result property="qnaTitle"   column="qna_title"/>
  		<result property="qnaText"   column="qna_text"/>
  		<result property="qnaPicture"   column="qna_picture"/>
  		<result property="qnaImage"   column="qna_image"/>
  		<result property="qnaState"   column="qna_state"/>
  		<result property="qnaClearDate"   column="qna_clear_date"/>
  		<result property="qnaDate"   column="qna_date"/>
  		<result property="qnaDel"   column="qna_del"/>
  		<result property="qnaAns"   column="qna_ans"/>
  	</resultMap>
  	
  	<select id="findMyQna" resultMap="S2C">
		  	select q.qna_idx,
 				   q.faqtype_idx,
 				   c.customer_idx,
                   c.customer_id,
 				   q.qna_title,
 				   q.qna_text,
                   q.qna_picture,
                   q.qna_image,
 				   q.qna_date,
 				   q.qna_state,
                   m.qna_ans,
                   m.qna_clear_date
			  from CUSTOMER_QNA q
	    right join customer c on c.customer_idx = q.customer_idx
        left join manager_qna m on m.qna_idx = q.qna_idx
 			 where qna_del=false
 			   and c.customer_idx=#{customer_idx}
 			 
  	</select>
  	<insert id="postMyQna" parameterType="QnaDTO">
  		
	  insert into CUSTOMER_QNA(
	  			  qna_title,
	  			  faqtype_idx,
	  			  qna_text)
	  	   values (
	  	          {#qna_title},
	  	          {#faqtype_idx},
	  	          {#qna_text})				
  	</insert>
  	<update id="editMyQna" parameterType="QnaDTO">
  	
  	       update CUSTOMER_QNA(
  	 		  set qna_title = #{qna_title},
  	 		  	  faqtype_idx = #{faqtype_idx},
  	 			  qna_text = #{qna_text})
  	 	    where qna_idx = #{qna_idx}
  	</update>
  	<delete id="deleteMyQna" parameterType="long">
  	
  	 delete from CUSTOMER_QNA
  	       
  	</delete>
  
  </mapper>