<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.store.mapper.SkuMapper">


  <select id="findAll"  resultType="Sku">
       SELECT sku_idx AS skuIdx, skutype_idx AS skuTypeIdx, sku_name AS skuName, sku_cost AS skuCost
        FROM SKU
    </select>
  
  <select id="findByType" parameterType="int" resultType="Sku">
        SELECT sku_idx AS skuIdx, skutype_idx AS skuTypeIdx, sku_name AS skuName, sku_cost AS skuCost
        FROM SKU
        WHERE skutype_idx = #{skutypeIdx}
    </select>


   
</mapper>


