<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.store.mapper.CartMapper">
   <select id="findCartsByCustomerIdx" resultMap="CartResultMap">
        SELECT * FROM cart WHERE customer_idx = #{customerIdx}
    </select>

    <resultMap id="CartResultMap" type="com.store.dto.CartDTO">
        <id property="cartIdx" column="cart_idx"/>
        <result property="customerIdx" column="customer_idx"/>
        <collection property="cartItems" ofType="com.store.dto.CartDTO.CartItemDTO" column="cart_idx" select="findCartItemsByCartIdx"/>
    </resultMap>

    <select id="findCartItemsByCartIdx" resultType="com.store.dto.CartItemDTO">
            SELECT 
        ci.cart_item_idx AS cartItemIdx,
        ci.cart_idx AS cartIdx,
        ci.sku_idx AS skuIdx, <!-- skuIdx 추가 -->
        ci.sku_value AS skuValue,
        s.sku_name AS skuName,
        s.sku_cost AS skuCost,
        ci.keep_cost AS keepCost,
        ci.source AS source, <!-- Source 추가 -->
        CASE 
            WHEN ci.keep_cost IS NULL THEN s.sku_cost
            ELSE ci.keep_cost
        END AS finalCost
    FROM cart_item ci
    LEFT JOIN sku s ON ci.sku_idx = s.sku_idx
    WHERE ci.cart_idx IN (
        SELECT cart_idx 
        FROM cart 
        WHERE customer_idx = #{customerIdx}
    )
    </select>
  
    
  <select id="findAll" resultType="com.store.dto.CartItemDTO">
        SELECT 
            ci.cart_item_idx AS cartItemIdx,
            ci.cart_idx AS cartIdx,
            ci.sku_value AS skuValue,
            ci.sku_idx AS skuIdx,
            s.sku_name AS skuName,
            s.sku_cost AS skuCost
        FROM cart_item ci
        JOIN sku s ON ci.sku_idx = s.sku_idx
    </select>
   <select id="getCartItems" resultType="com.store.dto.CartItemDTO">
    SELECT 
        ci.cart_item_idx AS cartItemIdx,
        ci.cart_idx AS cartIdx,
        ci.sku_value AS skuValue,
        ci.sku_idx AS skuIdx,
        s.sku_name AS skuName,
        s.sku_cost AS skuCost,
        ci.keep_cost AS keepCost  <!-- 추가된 필드 -->
    FROM cart_item ci
    JOIN sku s ON ci.sku_idx = s.sku_idx
    WHERE ci.cart_idx = #{cartIdx}
</select>

</mapper>


