<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.mapper.FaqMapper">
	<resultMap id="S2C" type="FaqDTO">
		<id property="faqIdx" column="faq_idx" />
		<result property="faqtypeIdx" column="faqtype_idx" />
		<result property="faqType" column="faq_type" />
		<result property="faqQ" column="faq_q" />
		<result property="faqA" column="faq_a" />
	</resultMap>

	<!-- 자주묻는질문 FAQ 조회 -->
	<select id="findAllFaq" resultMap="S2C">
		select f.faq_idx,
		t.faqtype_idx,
		t.faq_type,
		f.faq_q,
		f.faq_a
		from faq f
		right join faq_type t on f.faqtype_idx = t.faqtype_idx;
	</select>

</mapper>