<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.mapper.KeepMapper">

	<select id="findKeepByCustomerIdx" resultMap="KeepResultMap">
		SELECT *
		FROM keep k
		LEFT JOIN keep_item ki ON k.fridge_idx = ki.fridge_idx
		WHERE k.customer_idx = #{customerIdx}
	</select>

	<resultMap id="KeepResultMap" type="com.store.dto.KeepDTO">
		<id property="fridgeIdx" column="fridge_idx" />
		<result property="customerIdx" column="customer_idx" />
		<collection property="keepItems"
			ofType="com.store.dto.KeepItemDTO" column="fridge_idx"
			select="findKeepItemsByFridgeIdx" />
	</resultMap>

	<select id="findKeepItemsByFridgeIdx"
		resultType="com.store.dto.KeepItemDTO">
		SELECT *
		FROM keep_item
		WHERE fridge_idx = #{fridgeIdx}
	</select>

</mapper>


